*{
    padding: 0;
    margin: 0;
    font-family: cursive;
    color: #fff;
}
.back{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: url(back.jpg);
    background-size: cover;
    z-index: -100;
}
.area{
    font-size: 115px;
    font-weight: bold;
}
.one{
    padding-left: 2%;

}
.one1{
    padding-left: 2%;
    color: #cdc863;
}
.one2{
    padding-left: 2%;
    color: #cdc863;
}

.name{
    font-size: 280px;
    padding-right: 25%;
    text-align: right;
}
.det{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 150px;
    padding: 10%;
}
.imgarea{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 150px;
}
.img{
    width: 50%;
    margin-top: 80px;
}
img{
    width: 100%;
}
.right{
    margin-left: 50%;
}
